@model LogoModel
<b-navbar-brand href="@Url.RouteUrl("HomePage")" class="mx-auto">
    @if (Model.LogoPath == "")
    {
        <b-img src="/Themes/VueTheme1/Content/images/images/img/dlogo.svg" alt="@Model.StoreName"></b-img>
    }
    else
    {
        <p>@Model.StoreName</p>
        <b-img src="@Model.LogoPath" alt="@Model.StoreName"></b-img>
    }
    <span class="sr-only">@T("admin.configuration.shipping.providers.fields.logo")</span>
</b-navbar-brand>